<%= render "shared/header" %>

<div class="item-show">
  <div class="item-box">

  <% flash.each do |key, value| %>
<div class="error-alert">
    <p class="error-message-flash">
      <%= value %>
    </p>
</div>
<% end %>

    <h2 class="name">
      ユーザー情報
    </h2>
    <%= link_to "情報の編集", edit_user_registration_path, class: "item-red-btn" %>
    <p class="or-text">or</p>
    <%= link_to "ユーザー削除", user_registration_path, method: :delete, class:"item-destroy" %>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">ニックネーム</th>
          <td class="detail-value"><%= @user.nickname %></td>
        </tr>
        <tr>
          <th class="detail-item">メールアドレス</th>
          <td class="detail-value"><%= @user.email%></td>
        </tr>
        <tr>
          <th class="detail-item">苗字</th>
          <td class="detail-value"><%= @user.last_name %></td>
        </tr>
        <tr>
          <th class="detail-item">名前</th>
          <td class="detail-value"><%= @user.first_name %></td>
        </tr>
        <tr>
          <th class="detail-item">生年月日</th>
          <td class="detail-value"><%= @user.birthday %></td>
        </tr>
        <tr>
          <th class="detail-item">クレジットカード</th>
          <td class="detail-value">
          <% if current_user.card.present? %>
          <%  Payjp.api_key = ENV["PAYJP_SECRET_KEY"] 
              card = Card.find_by(user_id: current_user.id)
              customer = Payjp::Customer.retrieve(card.customer_token) 
              @card = customer.cards.first %>
              <%= "**** **** **** " + @card[:last4] %>
          <% else %>
          クレジットカード未登録
          <% end %>
          </td>
        </tr>
      </tbody>
    </table>
        <% if !current_user.card.present? %>
        <%= link_to "クレジットカード登録", new_card_path, class: "item-red-btn" %>
        <% end %>
  </div>
  </div>
</div>

<%= render "shared/footer" %>
