<%= render "shared/header" %>

  <div class='item-contents'>
    <div class="subtitle" >
      検索結果一覧
    </div>
    <ul class='item-lists'>
      <%= render  partial: "searchItem", collection: @items %>

      <% if @items[0] == nil %>
      <li class='list'>
        <%= link_to '#' do %>
        <%= image_tag "https://tech-master.s3.amazonaws.com/uploads/curriculums/images/Rails1-4/sample.jpg", class: "item-img" %>
        <div class='item-info'>
          <h3 class='item-name'>
            まだ商品がありません
          </h3>
          <div class='item-price'>
            <span>--------円<br>(税込み)</span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
        <% end %>
      </li>
      <% end %>

    </ul>
  </div>

    <div class='item-contents'>
    <div class="subtitle" >
      さらに詳しく検索する
    </div>
  <%= search_form_for @q, url: search_items_path, html: {id: "detailed-search-form"} do |s| %>
    <div class="search-field">
      <%= s.label :title_cont, '商品名' %>
      <br>
      <%= s.text_field :title_cont, placeholder: '商品名' %>
    </div>
    <%= s.submit '検索' %>
  <% end %>
  </div>
  

<%= render "shared/footer" %>